@charset "UTF-8";

/*Обнуление Фаил Heder*/

/*Обнуление изменение j*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/

.header {
  color: #fff;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100px 1fr;
  grid-template-columns: 100px 1fr;
  -ms-grid-rows: 21px 1fr;
  grid-template-rows: 21px 1fr;
  padding: 56px 13.125% 0 13.263%;
  max-width: 1440px;
  margin: auto;
  grid-row-gap: 176px;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__menu {
  font-size: 18px;
  line-height: 24px;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
}

.header__item:not(:last-child) {
  margin: 0 8.542% 0 0;
}

.header__link {
  color: #ffffff;
}

.header__discover {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 2;
  grid-column-end: 3;
}

.discover__title {
  max-width: 619px;
  font-weight: 500;
  font-size: 50px;
  line-height: 60px;
}

.discover__text {
  max-width: 546px;
  font-size: 16px;
  line-height: 24px;
  margin: 22px 0 59px 0;
}

.discover__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 376px;
}

.discover__radio {
  position: relative;
  margin: 20px 5.67% 20px 0;
  padding: 0 20px 20px 20px;
  border-bottom: 2px solid #bfc0c5;
}

.discover__radio > :first-child {
  opacity: 0;
}

.discover__radio::after {
  content: "";
  background: #fff;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 3px;
  left: 0;
  border-radius: 50%;
  z-index: 1;
}

.discover__radio_activ::before {
  content: "";
  background: #290606;
  position: absolute;
  width: 16px;
  height: 16px;
  top: 5px;
  left: 2px;
  border-radius: 50%;
  z-index: 2;
}

.discover__submit {
  width: 170px;
  height: 58px;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  background: #1b7dff;
  color: #fff;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: normal;
}

.contener {
  max-width: 1440px;
  margin: 0 auto;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg .bg {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.slider {
  position: relative;
}

.slider__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider__content {
  color: #fff;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 50%;
  flex: 1 1 50%;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.slider__title {
  font-size: 48px;
  font-weight: 700;
  line-height: 72px;
  text-align: center;
}

.slider__text {
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
}

.slider__button {
  height: 50px;
  width: 163px;
  background: #00868a;
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  color: #fff;
  padding: 15px, 25px, 14px, 25px;
  margin-bottom: 100px;
}

.slider__img {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 50%;
  flex: 1 1 50%;
}

/* Стрелка влево */

.slick-arrow.slick-prev {
  position: absolute;
  bottom: 30px;
  left: 35%;
  z-index: 5;
}

/* Стрелка вправо */

.slick-arrow.slick-next {
  position: absolute;
  bottom: 30px;
  left: 45%;
}

.grid {
  margin: 40px 0;
}

.grid__galery {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: minmax(50px, 1fr) 1% minmax(50px, 1fr) 1% minmax(50px, 1fr) 1% minmax(50px, 1fr);
  grid-template: 1fr/repeat(4, minmax(50px, 1fr));
  gap: 1%;
  justify-items: start;
}

.grid__galery > :last-child {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 2;
  grid-column-end: 3;
}

.grid__galery > :last-child .cart__img {
  width: 100%;
  height: 200px;
}

.denefest {
  max-width: 1262px;
  padding: 0 7.923% 112px 7.923%;
  margin: -223px auto 0 auto;
  background: #fff;
  position: relative;
  z-index: 2;
  -webkit-box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
  box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
}

.denefest__title {
  width: 270px;
  height: 42px;
  font-weight: 500;
  font-size: 35px;
  line-height: 42px;
  color: #102746;
  padding: 93px 0 164px 0;
}

.denefest__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.denefest__colom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 250px;
  flex: 1 0 250px;
  margin: 0 0 0 15px;
}

.denefest__icon {
  width: 50px;
  padding: 0 0 37px 0;
}

.denefest__sub {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}

.denefest__text {
  height: auto;
  font-size: 16px;
  line-height: 24px;
  padding: 26px 0 20px 0;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 26%;
  flex: 1 1 26%;
}

.denefest__button {
  font-size: 16px;
  line-height: 24px;
  color: #006dfe;
}

.denefest__arow {
  height: 24px;
  position: relative;
}

.denefest__arow::after {
  content: "\2192";
  background: #222222;
  position: absolute;
  width: 100%;
  height: 6px;
  top: -4px;
  left: 26px;
}

.galery {
  max-width: 1282px;
  margin: 0 auto;
}

.galery__title {
  font-weight: 500;
  font-size: 35px;
  line-height: 42px;
  color: #102746;
  padding: 131px 0 46px 20px;
}

.galery__block {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 0.5fr 0.5fr 1fr;
  grid-template-columns: 1fr 0.5fr 0.5fr 1fr;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  grid-gap: 10px;
  grid-auto-columns: 10px;
}

.galery__block > :first-child {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.galery__block > :nth-child(2) {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/5;
}

.galery__block > :nth-child(4) {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
}

.galery__item {
  position: relative;
}

.galery__sub-titly {
  font-weight: bold;
  font-size: 50px;
  line-height: 60px;
  color: #ffffff;
  position: absolute;
  bottom: 27px;
  left: 29px;
}

.galery__img {
  display: block;
  width: 100%;
  height: 100%;
}

.prefecture {
  max-width: 1282px;
  margin: 135px auto 0 auto;
}

.prefecture__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.prefecture__row:not(:last-child) {
  margin: 0 0 77px 0;
}

.prefecture__img {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 100%;
  flex: 0 1 100%;
}

.prefecture__img img {
  width: 100%;
}

.prefecture__block {
  padding: 20px 30px 0 50px;
}

.prefecture__title {
  max-width: 357px;
  font-weight: 500;
  font-size: 30px;
  line-height: 40px;
}

.prefecture__text {
  max-width: 519px;
  font-size: 16px;
  line-height: 24px;
  padding: 85px 0 58px 0;
}

.shop {
  max-width: 1282px;
  margin: 135px auto 0 auto;
}

.shop__title {
  font-weight: 500;
  font-size: 35px;
  line-height: 42px;
  margin: 50px 0;
}

.shop__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.shop__img-body {
  position: relative;
  margin: 20px 0 20px 0;
  color: #fff;
}

.shop__img-body > :first-child {
  display: block;
  width: 100%;
}

.shop__img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.shop__img-nav {
  width: 100%;
  height: 55px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(21, 24, 36, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 25px;
}

.shop__img-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.shop__img-like {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.shop__img-like > * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.shop__img-like * > picture {
  width: 16px;
  height: 16px;
  margin: 0 5px 0 5px;
}

.shop__img-icon {
  margin: 0 5px 0 0;
}

.shop__text {
  font-size: 16px;
  line-height: 24px;
}

.shop__butoon {
  display: inline-block;
  font-size: 16px;
  line-height: 19px;
  padding: 20px;
  background: #006dfe;
  margin: 30px 0;
  color: #fff;
  text-align: center;
}

.video {
  position: relative;
  max-width: 1282px;
  margin: 135px auto 0 auto;
}

.video > h2 {
  font-size: 0;
}

.video #videoPlayer {
  width: 100%;
  height: 609px;
  -o-object-fit: cover;
  object-fit: cover;
}

.video > #play {
  display: block;
  position: absolute;
  top: 40%;
  left: 50%;
  z-index: 4;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.video #play.video__activ {
  visibility: hidden;
}

.footer {
  max-width: 1282px;
  margin: 0 auto 0 auto;
  background: #0e1d28;
  color: #fff;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 1fr 1fr 1fr;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  padding: 120px 0 120px 13%;
}

.footer__list {
  font-size: 16px;
  line-height: 24px;
}

@media (max-width: 1150px) {
  .header {
    grid-row-gap: 6px;
    -ms-grid-rows: 100px 1fr;
    grid-template-rows: 100px 1fr;
    padding: 56px 5% 0 5%;
  }

  .discover__form {
    margin-bottom: 276px;
  }
}

@media (max-width: 1130px) {
  .shop__body {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1000px) {
  .footer {
    -ms-grid-columns: 2fr 1fr 1fr 1fr;
    grid-template-columns: 2fr 1fr 1fr 1fr;
  }
}

@media (max-width: 950px) {
  .denefest__title {
    padding: 33px 0 84px 0;
  }

  .denefest__colom:last-child {
    margin: 30px 0 0 15px;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
  }
}

@media (max-width: 870px) {
  .shop__body {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 767px) {
  .galery__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .galery__block > * {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 49%;
    flex: 0 0 49%;
  }

  .galery__sub-titly {
    font-size: 40px;
  }

  .prefecture__row {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .prefecture__row:last-child {
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
  }

  .prefecture__img {
    padding: 0 0 100% 0;
  }

  .video {
    margin: 35px auto 0 auto;
  }
}

@media (max-width: 767px) and (max-width: 500px) {
  .galery__block > * {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }
}

@media (max-width: 750px) {
  .footer {
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    padding: 30px 0 30px 0;
  }

  .footer > :first-child {
    grid-column: 1/-1;
    padding: 0 0 30px 0;
  }
}

@media (max-width: 700px) {
  .shop__body {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }

  .shop__butoon {
    display: block;
    width: 50%;
    margin: 30px auto;
  }
}

@media (max-width: 650px) {
  .slider__title {
    font-size: 28px;
    font-weight: 700;
    line-height: 72px;
  }
}

@media (max-width: 600px) {
  .header {
    -ms-grid-rows: 63px 1fr;
    grid-template-rows: 63px 1fr;
    padding: 56px 5% 26px 5%;
  }

  .header__list {
    display: none;
  }

  .header__list.active-burger {
    display: block;
    padding: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #354267;
    z-index: 50;
  }

  .header__item {
    text-align: center;
    font-size: 40px;
    padding-top: 90px;
  }

  .discover {
    padding: 0 10px 0 0;
  }

  .discover__form {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 276px;
  }

  .discover__submit {
    width: 300px;
    margin: 0 0 0 0;
  }

  .icon-menu {
    display: block;
    position: absolute;
    top: 40px;
    right: 30px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 60;
  }

  .icon-menu span {
    position: absolute;
    top: 8px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #fff;
  }

  .icon-menu span:first-child {
    top: 0;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
  }

  .icon-menu.active span {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }

  .icon-menu.active span:first-child {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 8px;
  }

  .icon-menu.active span:last-child {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    bottom: 8px;
  }
}
@supports (-webkit-appearance:none){

}

 @media (max-width: 1150px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1130px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1000px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 950px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 870px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 767px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 767px) and (max-width: 500px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 750px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 700px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 650px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 600px){

@supports (-webkit-appearance:none){

}

}
